.footer-wrapper {
    display: flex;
    justify-content: center;
    margin-top: auto; /* Автоматическое отступление вверх, чтобы футер оставался внизу */
}

.footer {
    display: flex; /* Используем Flexbox для распределения контента */
    justify-content: space-between; /* Равномерное распределение между текстом и картинкой */
    align-items: center; /* Вертикальное выравнивание */
    background-color: #ffffff;
    color: #000000;
    padding: 20px 40px;
    text-align: center;
    max-width: 1200px;
    width: 100%;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5); /* Добавление тени */
}

.footer p {
    margin: 0;
}

.footer a {
    color: #6e9df5;
    text-decoration: none;
    margin: 0 10px;
}

.footer a:hover {
    text-decoration: underline;
}

.footer-content {
    flex: 2; /* Контент займет всю доступную ширину, кроме места для изображения */
}

.footer-image {
    max-width: 125px; /* Ограничиваем ширину изображения */
    height: auto;
    cursor: pointer; /* Курсор становится "рукой" при наведении */
}
