.profile-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 800px;
}

.profile-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  width: 100%;
  max-width: 800px;
  margin-bottom: 20px;
}

.avatar-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  position: relative;
}

.avatar-circle {
  cursor: pointer;
}

.avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  transition: filter 0.3s;
}

.avatar-circle:hover .avatar {
  filter: brightness(0.7);
}

.avatar-circle:hover::after {
  content: "Edit";
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1rem;
  color: white;
}

.menu {
  position: absolute;
  top: 110%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 10px;
}

.menu-item {
  cursor: pointer;
}

.file-input {
  display: none;
}

.input-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.profile-input-container {
  display: flex;
  flex-direction: column;
  width: 48%;
}

.label {
  margin-bottom: 5px;
}

.profile-input {
  padding: 10px;
  border-radius: 10px;
  border: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  font-size: 1.2rem;
}

.button-container {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}

.rounded-button {
  padding: 10px 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  color: #000;
  cursor: pointer;
  text-align: center;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.rounded-button:hover {
  background-color: #f0f0f0;
}

.delete-profile-button {
  background-color: #ff8b59;
}

.delete-profile-button:hover {
  background-color: #ee7035;
}

.orders-title {
  margin-top: 20px;
  margin-bottom: 10px;
}

.orders-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  width: 100%;
  max-width: 800px;
  text-align: center;
}

.no-orders {
  font-size: 1.2rem;
  color: #888;
}

.order-item {
  margin-bottom: 20px;
  padding: 15px;
  border-radius: 10px;
  background-color: #f9f9f9;
  text-align: left;
  width: 95%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.order-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1rem;
  margin-bottom: 10px;
  border-bottom: 1px solid transparent;
  padding-bottom: 10px;
}

.order-status {
  background-color: #514ed9;
  padding: 5px 10px;
  border-radius: 5px;
  color: white;
  margin-left: 20px;
  margin-right: 10px;
}

.order-details {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.order-images {
  display: flex;
  gap: 10px;
  overflow: hidden;
}

.order-image {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 10px;
}

.order-price {
  display: flex;
  align-items: center;
  gap: 10px;
}

.arrow-down {
  cursor: pointer;
  width: 20px;
  height: 20px;
  margin-left: auto;
  transition: transform 0.3s ease;
}

.arrow-down.expanded {
  transform: rotate(180deg);
}

.total-price {
  font-weight: bold;
  font-size: 1.5rem;
}

.price-product {
  margin-left: auto;
  font-weight: bold;
  font-size: 1.2rem;
}

.order-details-expanded {
  margin-top: 10px;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.order-details-expanded .card-number {
  border-bottom: 1px solid transparent;
  padding-bottom: 20px;
}

.order-details-expanded .card-number.expanded {
  border-bottom: 1px solid #000;
}

.order-header.expanded {
  border-bottom: 1px solid #000;
}

.order-item-product {
  display: flex;
  align-items: center;
  margin-top: 10px;
  padding: 10px;
  border-radius: 5px;
  background-color: #f9f9f9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.order-item-product img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin-right: 20px;
  border-radius: 10px;
}

.order-item-product div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.order-item-product div p {
  margin: 0;
  font-size: 1rem;
}

.order-item-product div p:first-child {
  font-weight: bold;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

.modal-buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}

.modal-button {
  padding: 15px 30px;
  border-radius: 10px;
  color: #000;
  cursor: pointer;
  text-align: center;
  background-color: #fff;
  border: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-size: 1rem;
}

.modal-button.yes-button {
  background-color: #fff;
}

.modal-button.yes-button:hover {
  background-color: #f0f0f0;
}

.modal-button.no-button:hover {
  background-color: #f0f0f0;
}

.password-input-container {
  display: flex;
  flex-direction: column;
  width: 40%;
  margin-bottom: 15px;
}

.password-input {
  padding: 15px;
  border-radius: 10px;
  border: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  font-size: 1.4rem;
  width: 100%;
}

.password-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.change-password-title {
  font-size: 1.8rem;
  margin-bottom: 20px;
  text-align: center;
}

.username {
  font-size: 1.3rem;
  margin-top: 10px;
}
